<div class="container">
  <div id="feed"class="row">
  
    <div id="subreddit-adder" class="col-md-3">
      <p><strong>Current Subreddits</strong></p>
      <div id="current-topics">
        <ul>
          <li id="topic" ng-repeat="(subreddit, name) in data.subreddits">
            <div>
              <span>{{subreddit}}</span>
              <span><a class="btn" ng-click="removeTopic(subreddit)">x</a></span>
            </div>
          </li>
        </ul>
      </div>
      <form ng-submit='addTopic(newTopic)'>
        <input id="add-topic" class="form-control" placeholder='Add topic' ng-model="newTopic"/>
        <button class="btn"type='submit'>Add</button>
      </form>
    </div>

    <div id='posts' class="col-md-9" infinite-scroll="getMorePosts()" infinite-scroll-distance="3">
      <ul>
        <li class="post" ng-repeat="post in data.posts">
          <div>
          <span id='post-info' class="row">
            <div class="col-md-3">
              <a class="image" href={{post.data.url}} target="_blank"><img src={{post.data.thumbnail}} alt=""></a>
            </div>
            <div class="col-md-8">
              <a class="post-title" href={{post.data.url}} target="_blank">{{post.data.title}}</a>
              <p class="author-date-time">Submitted {{relativeTime(post.data.created_utc)}} by <a ng-href={{getAuthorUrl(post.data)}} target="_blank">{{post.data.author}}</a></p>
              <p class="subred">Subreddit: {{post.data.subreddit}}</p>
              <a class="comments" ng-href={{getCommmentsUrl(post.data)}} target="_blank">{{post.data.num_comments}} Comments</a>
            </div>

          </span>
          </div>
        </li>
      </ul>
    <div>

  </div>
</div>
